* {
    font-family: "Ruda", "sans-serif";
    font-weight: bold;
}

.message {
    width: 100%;
    text-align: center;
}

.message-mobile {
    display: none;
}

.maincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10em;
    padding: 0em 1em;
}

.dice-1,
.dice-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.2em;
}

#dice-1,
#dice-2 {
    width: 1em;
    height: 1em;
    font-size: 3em;
    border: 0px;
    margin: 0em;
    text-align: center;
}

.button-2 {
    background-color: #212121;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid #212121;
    width: 6em;
    height: 3em;
    font-size: 0.9em;
    margin: 1em;
}

.button-1 {
    background-color: #fff;
    color: #212121;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid #212121;
    width: 6em;
    height: 3em;
    font-size: 0.9em;
    margin: 1em;
}

p {
    margin: 0em;
}

.subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;
    position: absolute;
    top: 5.3em;
}

.background {
    position: absolute;
    width: 36em;
    height: 36em;
    /* opacity: 0.4; */
}

.p1 {
    z-index: 70;
    color: #fffbbe;
    font-size: 1.3em;
}

.p2 {
    z-index: 60;
    color: #212121;
    font-size: 1.3em;
}

row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 2.3em;
    height: 2.3em;
    border: 0px;
    font-size: 1.4em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
}

.center {
    width: 100%;
    text-align: center;
    margin-top: 3em;
}

@media only screen and (max-width: 750px) {
    .maincontainer {
        flex-direction: column-reverse;
    }
    .dice {
        flex-direction: row;
        margin-top: 3em;
        justify-content: space-between;
        column-gap: 8em;
    }
}

@media only screen and (max-width: 600px) {
    .box {
        font-size: 1em;
    }
    .background {
        width: 26.2em;
        height: 26.2em;
    }
}

@media only screen and (max-width: 420px) {
    .box {
        font-size: 0.8em;
    }
    .dice {
        column-gap: 4em;
    }
    .message {
        display: none;
    }
    .message-mobile {
        display: block;
        width: 100%;
        text-align: center;
    }
    .background {
        width: 21.2em;
        height: 21.2em;
    }
}

@media only screen and (max-width: 325px) {
    .box {
        font-size: 0.6em;
    }
    .dice {
        column-gap: 1em;
        font-size: 0.8em;
    }
    .background {
        width: 16.2em;
        height: 16.2em;
    }
}